doctype html 
html(land="eng")
  head
    title Welcome to PDF server
  body
    h1 This is the PDF server homepage.
    p Yes, welcome. This is the API endpoint. More coming soon:
    code POST /api/pdf
    footer.main-footer
      p= date